.delimiterChild {
  flex: 1;
  position: relative;
  border-top: 1px solid var(--color-aliceblue);
  box-sizing: border-box;
  height: 1px;
}
.orDoIt {
  position: relative;
  letter-spacing: -0.08px;
  line-height: 18px;
  font-weight: 500;
}
.delimiter {
  position: absolute;
  top: 0;
  left: 0;
  width: 424px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frameChild {
  position: relative;
  width: 58px;
  height: 58px;
}
.groupChild {
  border-radius: var(--br-7xl);
  background-color: var(--color-white);
  box-shadow: var(--shadow-shadow-sm);
}
.groupChild,
.rectangleWrapper,
.vectorIcon {
  position: absolute;
  top: 0;
  left: 0;
  width: 52px;
  height: 52px;
}
.vectorIcon {
  height: 51.92%;
  width: 42.31%;
  top: 25%;
  right: 28.85%;
  bottom: 23.08%;
  left: 28.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.groupParent {
  position: relative;
  width: 52px;
  height: 52px;
}
.vectorIcon1 {
  position: absolute;
  top: calc(50% - 12px);
  left: calc(50% - 6px);
  width: 13px;
  height: 25px;
}
.frameParent,
.social1 {
  display: flex;
  flex-direction: row;
}
.frameParent {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.social1 {
  position: absolute;
  top: 42px;
  left: 0;
  width: 424px;
  align-items: center;
  justify-content: center;
}
.social {
  position: relative;
  width: 424px;
  height: 94px;
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-slategray-200);
  font-family: var(--font-rubik);
}
