.rectangleCopy103 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-200);
}
.footer,
.logworkAllR,
.rectangleCopy103 {
  position: absolute;
  left: 0;
}
.logworkAllR {
  width: 100%;
  top: calc(50% - 8px);
  display: inline-block;
  height: 20px;
}
.footer {
  top: 973px;
  width: 1440px;
  height: 90px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-xl);
}
.dayModeActiveBg,
.nightModeActiveBg {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-dimgray);
  width: 1440px;
  height: 973px;
}
.dayModeActiveBg {
  background-color: var(--color-whitesmoke-100);
  width: 1441px;
  height: 972px;
  display: none;
}
.subTittle,
.tittle {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 2px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 506px;
  height: 31.22px;
}
.tittle {
  top: 54px;
  font-size: var(--font-size-xl);
  width: 719px;
  height: 31px;
}
.headingNightMode {
  display: none;
}
.headingDayMode,
.headingNightMode {
  position: absolute;
  top: 46px;
  left: 282px;
  width: 719px;
  height: 85px;
}
.desktopallResultNight {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1063px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-21xl);
  color: var(--color-white);
  font-family: var(--font-rubik);
}
